<!doctype html>
<html th:fragment="layout (template, menu)" >

<!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
<!--<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>-->
<!--<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->

<head th:insert="fragments/scripts">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">

    <title>SwaggerHub reporter :: Explore and generate reports</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <span class="navbar-brand">SwhReporter</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto" th:remove="all">
            <li th:fragment="menuItem (path,active,title,glyph,text)" class="active"
                th:class="${active==menu ? 'active' : ''}">
                <a class="nav-link" th:href="@{__${path}__}" th:title="${title}">
                        <span th:class="'glyphicon  glyphicon-'+${glyph}" aria-hidden="true"></span>
                    <span th:text="${text}">Template</span>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto">

            <li th:replace="::menuItem ('/','Home','Home page','home','Home')" class="nav-item active"></li>
            <li th:replace="::menuItem ('/reporter/specs','specs','Specification list','search','Specification list')" class="nav-item active"></li>
            <li th:replace="::menuItem ('/reporter/projects','projects','Projects & specifications','search','Projects & specifications')"></li>
            <li th:replace="::menuItem ('/reporter/participants','projects','Projects & participants','search','Projects & participants')"></li>
            <li th:replace="::menuItem ('/reporter/users','users','Members','search','Members')"></li>

            <span class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                <div class="dropdown-menu">
                    <span class="dropdown-item" th:replace="::menuItem ('/reporter/unresolved','unresolved','Unresolved','search','Specs unresolved')"></span>
                    <span class="dropdown-item" th:replace="::menuItem ('/reporter/invalid','invalid','Invalid specs','search','Invalid specs')"></span>
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a class="dropdown-item" href="#">Separated link</a>-->
                </div>
            </span>

            <span class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                <div class="dropdown-menu">
                    <span class="dropdown-item" th:replace="::menuItem ('/admin/load/myadmin','Home','My Admin','search','My Admin')"></span>
                    <span class="dropdown-item" th:replace="::menuItem ('/admin/load/users','Home','Load users','search','Load users')"></span>
                    <span class="dropdown-item" th:replace="::menuItem ('/admin/load/specs','Home','Load specifications','search','Load specifications')"></span>
                    <span class="dropdown-item" th:replace="::menuItem ('/admin/load/docs','Home','Load documentation','search','Load documentation')"></span>
                    <span class="dropdown-item" th:replace="::menuItem ('/admin/load/collaborations','Home','Load collaborations','search','Load collaborations')"></span>
                    <span class="dropdown-item" th:replace="::menuItem ('/admin/load/projects','Home','Load projects','search','Load projects')"></span>
                    <span class="dropdown-item" th:replace="::menuItem ('/admin/load/status','Home','Update status','search','Update status')"></span>
                </div>
            </span>
            
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="container xd-container">

        <th:block th:include="${template}"/>

        <br/>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="../static/resources/images/tuxcat.png"
                         th:src="@{/resources/images/tuxcat.png}"
                         alt="TuxCat"/></div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
