<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head th:insert="fragments/scripts">
  <meta charset="UTF-8"/>
  <title>SwaggerHub Reporter Index</title>
</head>
<body>

<div class="row">
  <div class="col-md-12 m-5">
    <!--                <img width="40px" class="img-responsive" src="../static/resources/images/swh_logo.jpg" th:src="@{/resources/images/swh_logo.jpg}"/>-->
    <h2 th:text="#{welcome} + ' to SwaggerHub Reporter'">Welcome</h2>
  </div>
</div>

<div class="row" th:if="${errorData != null}">
  <div class="col-md-12">

    <div class="card text-white bg-danger mb-3 row">
      <div class="card-header">Error</div>
      <div class="card-body">
        <h4 class="card-title"><span th:text="${errorData.getCause}">Danger card title</span></h4>
        <tr th:each="e : ${errorData.getMessages()}">
          <td class="card-text" th:text="${e}">Error humanum est</td>
        </tr>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="card text-white mb-3 row">
      <div class="card-header bg-primary border-primary ">Status summary</div>
      <div class="card-body text-dark border-primary" th:if="${status == null}">
        <h4 class="card-title">There are no status information available</h4>
      </div>
      <div class="card-body text-dark border-primary" th:if="${status != null}">
        <h4 class="card-title">Status information available</h4>
        <div class="row ">
          <div class="col-lg">
            <div>
              <dl>
                <dt>Total APIS</dt>
                <dd><p th:text="${status.totalApis}">Total APIs</p></dd>
                <dt>Total Domains</dt>
                <dd><p th:text="${status.totalDomains}">Total Domains</p></dd>
                <dt>Last update:</dt>
                <dd><p th:text="${status.lastUpdate}">Last update</p></dd>
              </dl>
            </div>
          </div>
          <div class="col-lg">
            <div>
              <dl>
                <dt>APIs with errors:</dt>
                <dd><p th:text="${status.errorApis}">APIs with errors</span></dd>
                <dt>Domains with errors:</dt>
                <dd><p th:text="${status.errorDomains}">Domains with errors</p></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</body>
</html>