<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">-->
    <head>
        <meta charset="UTF-8"/>
        <title>SwaggerHub Reporter Index</title>
    </head>
    <body>
        <div class="row">
            <div class="col-md-12">
<!--                <img width="40px" class="img-responsive" src="../static/resources/images/swh_logo.jpg" th:src="@{/resources/images/swh_logo.jpg}"/>-->
                <h2 th:text="#{welcome} + ' to SwaggerHub Reporter'">Welcome</h2>
            </div>
        </div>
    </body>
</html>