<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'api')}">
<head th:insert="fragments/scripts">
    <meta charset="UTF-8"/>
    <title>API details</title>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <h3>Specification details</h3>
                </div>
                <div class="panel panel-body">
                    <div class="row">
                        <dl class="row col-sm-6">
                            <dt class="col-sm-3">Name</dt>
                            <dd class="col-sm-9"><span th:text="${api.name}">Specification name</span></dd>
                            <dt class="col-sm-3">Created by</dt>
                            <dd class="col-sm-9"><span th:text="${api.createdBy}">Created By</span></dd>
                            <dt class="col-sm-3">Created</dt>
                            <dd class="col-sm-9"><span th:text="${api.created}">Created</span></dd>
                        </dl>
                        <dl class="row col-sm-6">
                            <dt class="col-sm-3">Default version</dt>
                            <dd class="col-sm-9"><span th:text="${api.version}">Default version</span></dd>
                            <dt class="col-sm-3">Url</dt>
                            <dd class="col-sm-9"><span th:text="${api.url}">Url</span></dd>
                            <dt class="col-sm-3">Last update</dt>
                            <dd class="col-sm-9"><span th:text="${api.updated}">Last update</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4">
    
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="panel panel-primary">
                <div class="panel panel-heading"><h4>Collaboration</h4></div>
                <div class="panel panel-body" th:if="${api.getCollaboration() == null}">
                    <p class="label-info">Collaboration information is not loaded yet</p>
                </div>
                <div class="panel panel-body" th:if="${api.getCollaboration() != null}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-title"><h5>Members</h5></div>
                            <div th:if="${#lists.isEmpty(api.getCollaboration().getMembers())}" class="alert alert-light" role="alert">
                                There is no members information
                            </div>
                            <div class="table-responsive table-striped" th:if="${not #lists.isEmpty(api.getCollaboration().getMembers())}">
                                <table class="table table-sm table-hover ">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Name</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:remove="all">
                                        <td th:text="${member.memberName}">Member name</td>
                                        <td th:text="${member.memberRole}">Member role</td>
                                    </tr>
                                    <tr th:remove="all">
                                        <td th:text="${member.memberName}">Member name</td>
                                        <td th:text="${member.memberRole}">Member role</td>
                                    </tr>
                                    <tr th:each="member : ${api.getCollaboration().getMembers()}">
                                        <td th:text="${member.memberName}">Member name</td>
                                        <td th:text="${member.memberRole}">Member role</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="panel-title"><h5>Teams</h5></div>
                            <div th:if="${#lists.isEmpty(api.getCollaboration().getTeams())}" class="alert alert-light" role="alert">
                                There is no teams information
                            </div>
                            <div class="table-responsive" th:if="${not #lists.isEmpty(api.collaboration.teams)}">
                                <table class="table table-sm table-hover ">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:remove="all">
                                        <td th:text="${team.name}">Team name</td>
                                        <td th:text="${team.description}">Team description</td>
                                    </tr>
                                    <tr th:remove="all">
                                        <td th:text="${team.name}">Team name</td>
                                        <td th:text="${team.description}">Team description</td>
                                    </tr>
                                    <tr th:each="team : ${api.collaboration.teams}">
                                        <td th:text="${team.name}">Team name</td>
                                        <td th:text="${team.description}">Team description</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4">
    
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="panel panel-primary">
                <div class="panel panel-heading"><h4>Security definitions</h4></div>
                <div class="panel panel-body" th:if="${api.getSecurityDefinitions == null}">
                    <div class="alert alert-warning" role="alert">
                        The security definitions has not been loaded
                    </div>
                </div>
                <div class="panel panel-body" th:if="${api.getSecurityDefinitions != null && 
                    #lists.isEmpty(api.getSecurityDefinitions().getRoles()) &&
                    #lists.isEmpty(api.getSecurityDefinitions().getScopes()) &&
                    #lists.isEmpty(api.getSecurityDefinitions().getAudiences())}">
                        <div class="alert alert-warning" role="alert">
                            There are no valid security definitions
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="table-responsive" th:if="${api.getSecurityDefinitions != null && not #lists.isEmpty(api.getSecurityDefinitions().getScopes())}">
                                <table class="table table-sm table-hover ">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Scopes</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:remove="all">
                                        <td th:text="${scope}">Member scope</td>
                                    </tr>
                                    <tr th:remove="all">
                                        <td th:text="${scope}">Member scope</td>
                                    </tr>
                                    <tr th:each="scope : ${api.getSecurityDefinitions().getScopes()}">
                                        <td th:text="${scope}">Scope</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="table-responsive" th:if="${api.getSecurityDefinitions != null && not #lists.isEmpty(api.getSecurityDefinitions().getRoles())}">
                                <table class="table table-sm table-hover ">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Roles</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:remove="all">
                                        <td th:text="${role}">Member role</td>
                                    </tr>
                                    <tr th:remove="all">
                                        <td th:text="${role}">Member role</td>
                                    </tr>
                                    <tr th:each="role : ${api.getSecurityDefinitions().getRoles()}">
                                        <td th:text="${role}">Roles</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="table-responsive" th:if="${api.getSecurityDefinitions != null && not #lists.isEmpty(api.getSecurityDefinitions().getAudiences())}">
                                <table class="table table-sm table-hover ">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Audiences</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:remove="all">
                                        <td th:text="${audience}">Member audience</td>
                                    </tr>
                                    <tr th:remove="all">
                                        <td th:text="${audience}">Member audience</td>
                                    </tr>
                                    <tr th:each="audience : ${api.getSecurityDefinitions().getAudiences()}">
                                        <td th:text="${audience}">Audience</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <hr class="my-4">

    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <button class="w-100 btn btn-primary btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Specification
                    </button>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="panel panel-body">
                        <pre>
                            <code th:text="${api.document}">openapi: .....blablablab .....</code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>