<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'invalid')}">
<head th:insert="fragments/scripts">
    <meta charset="UTF-8"/>
    <title>Projects report</title>
</head>
<body>

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="panel panel-heading">
                <h3>Invalid specifications (<span th:text="${invalid.getTotal()}">0</span>)</h3>
                <p>The validator is checking:</p>
                <ul><li>ClxApiOAuth2 is defined with authorization code flow</li></ul>
            </div>
        </div>
    
        <div class="row" th:if="${#lists.isEmpty(invalid.getInvalidSpecs())}">
            <p class="label-info">There is no projects information</p>
        </div>
        <div class="row" th:if="${not #lists.isEmpty(invalid.getInvalidSpecs())}">
            <table class="table table-sm table-hover table-m-0 col-sm-12" th:if="${not #lists.isEmpty(invalid.getInvalidSpecs())}">
                <thead class="table thead-dark">
                    <tr class="row">
                        <th scope="col" class="text-center align-middle col-sm-1" >Number</th>
                        <th scope="col" class="text-center col-sm-1">Type</th>
                        <th scope="col" class="text-center col-sm-5">Name</th>
                        <th scope="col" class="text-center col-sm-5">Error</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:remove="all" class="row">
                        <td class="text-center col-sm-1">Number of errors</td>
                        <td class="text-center col-sm-1">Type of spec</td>
                        <td class="col-sm-5">Spec name</td>
                        <td class="col-sm-5">
                            <table class="table mb-0 table-borderless">
                                <tbody>    <!--class="table table-sm table-light table-m-0"-->
                                    <tr> <!--class="row col-sm-12"-->
                                        <td>Error</td> <!-- class="col-sm-4"-->
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr th:each="item : ${invalid.getInvalidSpecs()}" class="row">
                        <td th:text="${item.getNumErrors()}" class="text-center col-sm-1">Number of errors</td>
                        <td th:text="${item.getType()}" class="text-center col-sm-1">Type of spec</td>
                        <td th:text="${item.getName()}" class="col-sm-5">Spec name</td>
                        <td class="col-sm-5">
                            <table class="table mb-0 table-borderless">
                                <tbody>
                                    <tr th:each="error : ${item.getErrors()}" class="row col-sm-12">
                                        <td th:text="${error}">Error</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>