<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'invalid')}">
<head>
    <meta charset="UTF-8"/>
    <title>Projects report</title>
    <!--    &lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
        &lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>-->
    <!-- CSS only -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css" integrity="sha384-zEpdAL7W11eTKeoBJK1g79kgl9qjP7g84KfK3AZsuonx38n8ad+f5ZgXtoSDxPOh" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="panel panel-heading">
                <h3>Invalid specifications (<span th:text="${invalid.getTotal()}">0</span>)</h3>
                <p>The validator is checking:</p>
                <ul><li>ClxApiOAuth2 is defined with authorization code flow</li></ul>
            </div>
        </div>
    
        <div class="row" th:if="${#lists.isEmpty(invalid.getInvalidSpecs())}">
            <p class="label-info">There is no projects information</p>
        </div>
        <div class="row" th:if="${not #lists.isEmpty(invalid.getInvalidSpecs())}">
            <table class="table table-sm table-hover table-m-0 col-sm-12" th:if="${not #lists.isEmpty(invalid.getInvalidSpecs())}">
                <thead class="table thead-dark">
                    <tr class="row">
                        <th scope="col" class="text-center align-middle col-sm-1" >Number</th>
                        <th scope="col" class="text-center col-sm-1">Type</th>
                        <th scope="col" class="text-center col-sm-5">Name</th>
                        <th scope="col" class="text-center col-sm-5">Error</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:remove="all" class="row">
                        <td class="text-center col-sm-1">Number of errors</td>
                        <td class="text-center col-sm-1">Type of spec</td>
                        <td class="col-sm-5">Spec name</td>
                        <td class="col-sm-5">
                            <table class="table mb-0 table-borderless">
                                <tbody>    <!--class="table table-sm table-light table-m-0"-->
                                    <tr> <!--class="row col-sm-12"-->
                                        <td>Error</td> <!-- class="col-sm-4"-->
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr th:each="item : ${invalid.getInvalidSpecs()}" class="row">
                        <td th:text="${item.getNumErrors()}" class="text-center col-sm-1">Number of errors</td>
                        <td th:text="${item.getType()}" class="text-center col-sm-1">Type of spec</td>
                        <td th:text="${item.getName()}" class="col-sm-5">Spec name</td>
                        <td class="col-sm-5">
                            <table class="table mb-0 table-borderless">
                                <tbody>
                                    <tr th:each="error : ${item.getErrors()}" class="row col-sm-12">
                                        <td th:text="${error}">Error</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>