<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'specs')}">
<head th:insert="fragments/scripts">
    <meta charset="UTF-8"/>
    <title>List of specifications</title>
</head>
<body>

    <div class="container-fluid" style="margin-top: 20px">
    
        <div class="row">
            <table class="table table-sm table-responsive table-hover" style="max-width: 100%;" th:if="${not #lists.isEmpty(specs.specs)}">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="7">Specifications (<span th:text="${specs.numberOfSpec}">0</span>)</th>
                    </tr>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Title</th>
                        <th scope="col">Name</th>
                        <th scope="col">Default version</th>
                        <th scope="col">Standardization</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:remove="all">
                        <td th:text="${s.specType}">Api type</td>
                        <td th:text="${s.specTitle}">Title</td>
                        <td th:text="${s.specName}">Api name</td>
                        <td th:text="${s.specVersion}">Api version</td>
                        <td th:text="${s.specDescription}">Standardization</td>
                    </tr>
                    <tr th:remove="all">
                        <td th:text="${s.specType}">Api type</td>
                        <td th:text="${s.specTitle}">Title</td>
                        <td th:text="${s.specName}">Api name</td>
                        <td th:text="${s.specVersion}">Api version</td>
                        <td th:text="${s.specDescription}">Standardization</td>
                    </tr>
                    <tr th:each="s : ${specs.specs}">
                        <td th:text="${s.specType}">DOMAIN</td>
                        <td th:text="${s.specTitle}">Title</td>
                        <td><a th:href="'/reporter/specs/'+ ${s.id}" th:text="${s.specName}"></a></td>
                        <td th:text="${s.specVersion}">3.2.0</td>
                        
                        <td th:if="${s.specDescription == 'OK'}" class="text-center"><span class="badge bg-success w-75">Ok</span></td>
                        <td th:if="${s.specDescription == 'CRITICAL'}" class="text-center"><span class="badge bg-danger w-75">Critical</span></td>
                        <td th:if="${s.specDescription == 'WARNING'}" class="text-center"><span class="badge bg-warning w-75">Warning</span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">Pagination pending</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>
</body>
</html>