<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'specs')}">
<head>
    <meta charset="UTF-8"/>
    <title>List of specifications</title>
</head>
<body>
<!--/*@thymesVar id="specs" type="org.jfo.swaggerhub.swhreporter.dto.SpecDto"*/-->

<h2>Specifications (<span th:text="${specs.numberOfSpec}">0</span>)</h2>

<table id="specs" class="table table-striped">
    <thead>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Version</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="s : ${specs.specs}">
            <td th:text="${s.specType}">Api type</td>
            <td th:text="${s.specName}">Api name</td>
            <td th:text="${s.specVersion}">Api name</td>
            <td th:text="${s.specDescription}">Api name</td>
    </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Pagination pending</td>
        </tr>
    </tfoot>
</table>
</body>
</html>