<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'unresolved')}">
<head th:insert="fragments/scripts">
    <meta charset="UTF-8"/>
    <title>Projects report</title>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">

    <div class="row">
        <div class="panel panel-heading">
            <h3>Specification unresolved (<span th:text="${unresolved.getTotal()}">0</span>)</h3>
            <p>This specifications are probably wrong defined in Swagger Hub, can't be downloaded as resolved
                specifications</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-1"><h4>Type</h4></div>
            <div class="col-sm-4"><h4>Name</h4></div>
            <div class="col-sm-1"><h4>Version</h4></div>
            <div class="col-sm-4"><h4>Title</h4></div>
            <div class="col-sm-1"><h4>View</h4></div>
        </div>

        <tr th:each="item : ${unresolved.getUnresolvedSpecs()}">
            <div class="row">
                <div class="col-sm-1" th:text="${item.getType()}">Type</div>
                <div class="col-sm-4" th:text="${item.getName()}">Name</div>
                <div class="col-sm-1" th:text="${item.getVersion()}">Version</div>
                <div class="col-sm-4" th:text="${item.getTitle()}">Title</div>
                <div class="col-sm-1">
                    <i class="icon-search icon-white"></i>
                    <button class="badge badge-primary" type="button" data-bs-toggle="collapse" aria-expanded="false"
                            th:attr="data-bs-target='#'+${item.getName()}, aria-controls=${item.getName()}">
                        View unresolved
                    </button>
                </div>
            </div>
            <div class="collapse" th:attr="id=${item.getName()}">
                <div class="card card-body">
                    <pre th:text="${item.getResolved()}">openapi: .....blablablab .....</pre>
                </div>
            </div>

        </tr>

    </div>

</div>

<script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>

<script src="http://getbootstrap.com/2.3.2/assets/js/holder/holder.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.js"></script>

<script src="http://getbootstrap.com/2.3.2/assets/js/application.js"></script>

</body>
</html>