<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'wrongreference')}">
<head>
    <meta charset="UTF-8"/>
    <title>Projects report</title>
    <!--    &lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
        &lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>-->
    <!-- CSS only -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css" integrity="sha384-zEpdAL7W11eTKeoBJK1g79kgl9qjP7g84KfK3AZsuonx38n8ad+f5ZgXtoSDxPOh" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="panel panel-heading">
                <h3>Specification wrong refereces (<span th:text="${wrongreference.getTotal()}">0</span>)</h3>
                <p>This specifications are using local file reference in it's definition</p>
            </div>
        </div>
    
        <div class="row" th:if="${#lists.isEmpty(wrongreference.getWrongspecs())}">
            <p class="label-info">There is no projects information</p>
        </div>
        <div class="row" th:if="${not #lists.isEmpty(wrongreference.getWrongspecs())}">
            <table class="table table-sm table-hover table-m-0 col-sm-12" th:if="${not #lists.isEmpty(wrongreference.getWrongspecs())}">
                <thead class="table thead-dark">
                    <tr class="row">
                        <th scope="col" class="text-center align-middle col-sm-1" >Number</th>
                        <th scope="col" class="text-center col-sm-9" colspan="1">Type</th>
                        <th scope="col" class="text-center col-sm-9" colspan="3">Name</th>
                        <th scope="col" class="text-center col-sm-9" colspan="7">Error</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:remove="all">
                        <td th:text="${wr.getErrors()}" class="col-sm-3">Number of errors</td>
                        <td th:text="${wr.getType()}" class="col-sm-3">Type of spec</td>
                        <td th:text="${wr.getName()}" class="col-sm-3">Spec name</td>
                        <td class="col-sm-9">
                            <table class="table table-sm table-light table-m-0">
                                <tbody>
                                <tr th:each="error : ${wr.getErrors()}" class="row col-sm-12">
                                    <td th:text="${error}" class="col-sm-4">Error</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr th:remove="all">
                        <td th:text="${wr.getErrors()}" class="col-sm-3">Number of errors</td>
                        <td th:text="${wr.getType()}" class="col-sm-3">Type of spec</td>
                        <td th:text="${wr.getName()}" class="col-sm-3">Spec name</td>
                        <td class="col-sm-9">
                            <table class="table table-sm table-light table-m-0">
                                <tbody>
                                <tr th:each="error : ${wr.getErrors()}" class="row col-sm-12">
                                    <td th:text="${error}" class="col-sm-4">Error</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr th:each="wr : ${wrongreference.getWrongspecs()}" class="row">
                        <td th:text="${wr.getErrors()}" class="col-sm-3">Number of errors</td>
                        <td th:text="${wr.getType()}" class="col-sm-3">Type of spec</td>
                        <td th:text="${wr.getName()}" class="col-sm-3">Spec name</td>
                        <td class="col-sm-9">
                            <table class="table table-sm table-light table-m-0">
                                <tbody>
                                    <tr th:each="error : ${wr.getErrors()}" class="row col-sm-12">
                                        <td th:text="${error}" class="col-sm-4">Error</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>